.manrope {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
}

.custom-btn{
    background: rgba(171, 239, 95, 1);
    border-radius: 50%;
    padding: 5px;
}
.bg-image{
    background-image: url(../assets/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.custom-bg{
    background: rgba(171, 239, 95, 1);
}
.ctm-btn{
    background-color: #fff;
    border-radius: 50%;
    padding: 7px;
 }
 .btn-sec{
    background-color: #d1fba1;
 }